$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$color-text: hsl(193, 38%, 86%);
$color-button-circle: hsl(150, 100%, 66%);
$color-container-advice: hsl(217, 19%, 38%);
$color-background: hsl(217, 19%, 24%);
$color-button-icon-: hsl(218, 23%, 16%);
