@import '../styles/color.scss';

@mixin light-theme {
  --color-bg: #025464;
  --color-bg-2: #025464;
  --color-text: #f8f1f1;
}

@mixin dark-theme {
  --color-bg: hsl(217, 19%, 38%);
  --color-bg-2: hsl(217, 19%, 24%);
  --color-text: hsl(193, 38%, 86%);
}
