@import '@styles/base';

.Box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 20rem;
  background-color: $color-container-advice;
  border-radius: 1rem;
}

.Card_DarkMode {
  background-color: #e57c23;
}

.themeSwitcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.cardTitle {
  color: $color-button-circle;
  font-size: 0.8rem;
  font-weight: 600;
  max-width: 90%;
}

.cardContent {
  // font-family: 'Manrope', sans-serif;
  padding: 0 0.5rem;
  height: 10rem;
  display: flex;
  align-items: center;
  min-width: 10%;
  max-width: 90%;
  font-weight: 600;
  text-align: center;
}
.cardFooter {
  display: flex;
  max-width: 90%;
}

.upLeftLine {
  transform: rotate(90deg);
  width: 0.8rem;
  height: 20%;
  background-color: $color-text;
}

.upRightLine {
  transform: rotate(90deg);
  width: 0.8rem;
  height: 20%;
  background-color: $color-text;
}

.leftLine {
  width: 10rem;
}

.rightLine {
  width: 10rem;
}

.dice {
  position: absolute;
  bottom: -1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(45deg);
  }

  img {
    display: absolute;
    margin: 0 auto;
    transform-origin: center;
  }
}

.button {
  position: absolute;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  background-color: $color-button-circle;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px $color-button-circle;
  transition: box-shadow 0.3s ease;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 $color-button-circle;
  }
  50% {
    box-shadow: 0 0 20px 10px $color-button-circle;
  }
  100% {
    box-shadow: 0 0 0 0 $color-button-circle;
  }
}

.button:hover {
  background-color: lighten($color-button-circle, 5%);
  animation: glow 1.5s infinite;
}
